
# Metadata files (they'll be generated on every build)
/src/ch*/metadata/*.rs


/target
/archive
/tmp

# IDEs
/.vscode
/.idea


# Binaries, libs
*.o
*.a
*.so
*.out
*.bin
*.exe

# LLVM bitcode, bytecode, etc
*.bc
*.ic
*.lc
*.ll
